<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Why us?</h2>
                    <h3 class="section-subheading text-muted">The main attributes that makes us the perfect tenants</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i> 
                        <i class="fa-solid fa-broom fa-stack-1x"></i> 
                    </span>
                    <h4 class="service-heading">Clean and tidy</h4>
                    <p class="text-muted">Shoes off at the entrance? Well that's just customary in Finland. We keep the house tidy, recycle everything, and leave our accommodations a bit cleaner than when arriving. It's just common courtesy!</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-hand-holding-dollar fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">Responsible and reliable</h4>
                    <p class="text-muted">The rent is paid at due date, maybe earlier as bank transfers sometimes take time. Something broke? Of couse it was an accident, and of course we still replace or repair it! In need for another shelf or frame? Better ask landlord first! Even though we live here, we do not own the place. That's just obvious!</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-ban fa-stack-2x text-primary"></i>
                        <i class="fa fa-volume-high fa-stack-1x" style="opacity: 0.5;"></i>

                    </span>
                    <h4 class="service-heading">Quiet and considerate</h4>
                    <p class="text-muted">Inhouse hobbies include: movies, board games and computer games, and cat videos.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-ban fa-stack-2x text-primary"></i>
                        <i class="fa fa-smoking fa-stack-1x"  style="opacity: 0.5;"></i>
                    </span>
                    <h4 class="service-heading">Just the two of us</h4>
                    <p class="text-muted">No children, no pets, no pests. Non-smoking, easy going, peace loving couple. Just the way the perfect tenants should be.</p>
                </div>
            </div>
        </div>
    </section>